* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: rgba(88, 88, 88, 0.996);
}

nav {
  display: flex;
  height: 7vh;
  width: 100%;
  align-items: center;
  justify-content: space-around;
  background-color: rgb(106, 83, 139);
}
.createPage {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-around;
  gap: 50px;
}
.box {
  display: flex;
  flex-direction: row;
  justify-content: baseline;
  height: 5rem;
}
.login {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 50vh;
}
.register {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 50vh;
}
.Browse {
  background-color: rgba(236, 109, 255, 0.267);
  height: 60px;
  display: grid;
  grid-template-columns: 4fr 2fr 3fr 1fr 1fr;
  align-items: center;
  padding: 12px 24px;
  margin: 6px 0;
}

.search {
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.navButton:hover {
  color: gray;
  cursor: pointer;
}
.navButton {
  font-size: 2.5vh;
}

.shrink {
  gap: 5px;
  height: 30px;
  width: 70px;
}

.workouts {
  display: grid;
  grid-template-columns: 4fr 1fr 1fr 1fr;
  align-items: center;
  padding: 12px 24px;
}

.modal {
  background-color: rgba(255, 255, 255, 0.6);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(5px);
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.modal .content {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

#close {
  position: fixed;
  top: 50px;
  right: 50px;
  font-weight: bold;
  background-color: red;
  color: white;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
